/_Library/Lib.Common/bin
/_Library/Lib.Common/obj
/0.Edge.Zeus/bin
/0.Edge.Zeus/obj
/1.Edge.CsvFile/bin
/1.Edge.CsvFile/obj
/1.Edge.ModbusTcp/bin
/1.Edge.ModbusTcp/obj
/1.Edge.OpcUa/bin
/1.Edge.OpcUa/obj
/2.Aider.Switchon/obj
/0.Edge.Zeus/Logs/log20210629.txt
/logs/log20210629.log
